:root {
    --background-color: #f4f4f9;
    --text-color: #333;
    --input-background: #fff;
    --input-border: #ccc;
    --button-background: #6658d3;
    --button-hover: #5848c2;
}

[data-theme="dark"] {
    --background-color: #333;
    --text-color: #f4f4f9;
    --input-background: #555;
    --input-border: #777;
    --button-background: #5a5ea6;
    --button-hover: #484b92;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 10px; 
}

form {
    background: var(--input-background);
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 90%; 
    max-width: 300px;
}

h2 {
    text-align: center;
    margin: 0 0 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: var(--text-color);
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--input-border);
    border-radius: 5px;
    background: var(--input-background);
    color: var(--text-color);
    box-sizing: border-box;
}

.input-group input:focus {
    border-color: var(--button-background);
    outline: none;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: var(--button-background);
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: var(--button-hover);
}

.dark-mode-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: var(--button-background);
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    cursor: pointer;
}

.dashboard, .error-page {
    text-align: center;
    padding: 2rem;
}

.welcome, .error-page h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.navigation, .error-page p {
    margin: 20px 0;
}

.navigation a, .error-page a {
    text-decoration: none;
    color: white;
    background-color: var(--button-background);
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navigation a:hover, .error-page a:hover {
    background-color: var(--button-hover);
}

.user-info, .error-page .container {
    font-size: 18px;
    color: var(--text-color);
}

@media (max-width: 600px) {
    h2, .welcome, .error-page h1 {
        font-size: 20px;
    }

    .input-group label, .user-info, .error-page p {
        font-size: 16px;
    }

    .submit-btn, .navigation a, .error-page a {
        font-size: 14px;
        padding: 8px 16px;
    }
}

